---
name: PR
on:
  workflow_run:
    workflows: ["Syntax_validation"]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  PR-build:
    name: 
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
