---
name: PR
on:
  pull_request:
    branches: [master, main]

jobs:
  build:
    name: 
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
