---
name: "Syntax validation"

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:	
  validate:
    name: "Run yamllint"
    runs-on: ubuntu-22.04

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: "Run validation"
        uses: docker://ghcr.io/github/super-linter:slim-v4.8.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILTER_REGEX_INCLUDE: /
          FILTER_REGEX_EXCLUDE: 
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_YAML: true
          VALIDATE_ANSIBLE: true
          VALIDATE_BASH: true
          VALIDATE_PYTHON: true
          VALIDATE_PYTHON_BLACK	: true






    

